Repository suzuki-shunsuke/ghatm, pull requests merged in 2025-03, with the labels that each got.

#378 `timeout-minutes` can be an expression
  pkg/edit/edit.go
  pkg/edit/edit_internal_test.go
  pkg/edit/testdata/reusable_workflow_timeout.yaml
  pkg/edit/testdata/reusable_workflow_timeout_result.yaml
  pkg/edit/workflow.go
Labels: bug

#379 fix: change the type of step.timeout-minutes to any
  pkg/edit/edit.go
  pkg/edit/workflow.go
Labels: bug

#414 chore: Migrate golangci-lint to v2
  .golangci.yml
  aqua/aqua-checksums.json
  aqua/imports/golangci-lint.yaml
Labels: migrate-golangci-lint-to-v2

#425 ci: Fix .goreleaser.yml's format
  .goreleaser.yml
Labels: fix-goreleaser-format
